@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="d-flex justify-content-center">
    <h1 class="text-danger">Error 404 Not Found</h1>
</div>
<div class="d-flex justify-content-center">
    <h2 class="text-danger">@ViewData["msg"].</h2>
</div>
<hr/>



@*
    @if (Model.ShowRequestId)
{
    <p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}
*@


