@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 404 Not Found</h1>
<h2 class="text-danger">@ViewData["msg"].</h2>


@*
    @if (Model.ShowRequestId)
{
    <p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}
*@


